version: '3'
services:
  telegram-bot-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: telegram-bot-api
    env_file:
      - .env
    volumes:
      - telegram-data:/telegram-bot-api-data
    ports:
      - "8081:8081"
    command: >
      /app/telegram-bot-api/bin/telegram-bot-api --api-id=$API_ID --api-hash=$API_HASH --local --http-ip-address=0.0.0.0 --dir=/telegram-bot-api-data --log=/app/telegram-bot-api.log --verbosity=5

  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    container_name: telegram-bot
    env_file:
      - .env
    depends_on:
      - telegram-bot-api
    environment:
      - TELEGRAM_API_URL=http://telegram-bot-api:8081
    ports:
      - "8000:8000"  # Открываем порт для FastAPI

volumes:
  telegram-data: